# 构建输出
dist
node_modules
public

# 日志
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 环境变量
.env
.env.*

# 编辑器目录和文件
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 锁文件
package-lock.json
yarn.lock
pnpm-lock.yaml

# 其他
README.md
LICENSE