.container {
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    gap: 10px;
    .select {
      width: 200px;
      padding-right: 10px;
    }
    .option-bar {
      display: flex;
      gap: 10px;
    }
  }
  .progress-bar {
    width: 100%;
    padding: 10px 0;
  }
  .tabcontent-table {
    .table-status__item {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2px;
    }
  }
  .tabcontent-pagination {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
}
